body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
#drop-down-container {
  outline: 1px black solid;
  width: 500px;
  height: 500px;
}

#drop-down {
  width: max-content;
  position: relative;
  outline: 1px solid black;
  background-color: red;
  height: max-content;

}

.drop-down-trigger {
  background-color: yellow;
}

.drop-down-list {
  list-style: none;
  padding-left: 0;
  position: absolute;
  margin: 0;
  top: 0;
  width: 100%;
}

.drop-down-list-element {
  position:absolute;
  top: 0;
  transition: transform 300ms ease-in-out, opacity 300ms ease-in-out 150ms;
  opacity: 0;
  width: 100%;
  z-index: -1;
}

.drop-down-list-element.active {
  transform: translateY(18px);
  opacity: 1;
  z-index: 2;
}

#image-slides {
  width: 1200px;
  height: 225px;
  outline: 1px solid red;
  position: absolute;
  left: -400px;
}

#image-slider-frame {
  width: 400px;
  aspect-ratio: 16/9;
  outline: 1px solid blue;
  position: relative;
  z-index: 1;
  overflow-x: hidden;
}

#slider-buttons {
  height: 25px;
  display: flex;
  width: 400px;
  justify-content: space-between;
  align-items: center;
}

#slider-buttons ul {
  display: flex;
  gap: 20px;
  margin: 0;
  width: auto;
  padding: 0;
}

.slider-img {
  aspect-ratio: 16 / 9;
  width: 400px;
  position: absolute;
  transition: transform 300ms ease-in-out;
}

.slider-img.middle {
  transform: translateX(400px);
}

.slider-img.right {
  transform: translateX(800px);
}